<!DOCTYPE html>
<html lang="en">
<body>
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Name</h6>
                <p>스프링부트를 이용한 게시판 구현</p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">DESIGN</h6>
                <p>
                    Material Design for Bootstrap(MDB)
                </p>
                <p>
                    <a href="https://mdbootstrap.com/" target="_blank">https://mdbootstrap.com</a>
                </p>
            </div>
            <!-- Grid column -->


            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">framework</h6>
                <p>
                    Spring Boot
                </p>
                <p>
                    Build : maven
                </p>
                <p>
                   template Engine : mustache
                </p>
                <p>
                    DB : H2 Database + JPA library
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Developer</h6>
                <p>
                    윤도진
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> oky9014@naver.com
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 82 010 6294 6200
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2018 Copyright:
                        <strong>djyoon</strong>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->
</body>
</html>