<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>스프링 부트 게시판 예제</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.side.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</head>
<header>
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color" style="position:static; padding-right: 0px!important;">
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">W.A.Q.A
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <!-- Links -->

            {{#loginUser}}
            {{userId}}
            {{/loginUser}}

            {{^loginUser}}
            <a href="" class="btn btn-default" data-toggle="modal" data-target="#modalLoginForm">Sign in</a>
            <a href="" class="btn btn-default" data-toggle="modal" data-target="#modalJoinForm">Sign up</a>
            {{/loginUser}}
            {{#loginUser}}
                <i class="fa fa-user" aria-hidden="true" style="color:white; margin:5px;"></i>
                <a href="/user/logout" class="btn btn-default">Sign out</a>
            {{/loginUser}}
        </div>
        <!-- Collapsible content -->
    </nav>

<form action="/user/login" method="post" class="needs-validation" novalidate>
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="userId" required>Your ID</label>
                        <br/><br/>
                        <input type="text" id="userId" name="userId" class="form-control validate" style="color:cornflowerblue;" required/>
                    </div>

                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="passWd">Your password</label>
                        <br/><br/>
                        <input type="password" id="passWd" name="passWd" class="form-control validate" style="color:cornflowerblue;" required/>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>
    <form id="joinForm" action="/user/join" method="post" class="needs-validation" novalidate>
        <div class="modal fade" id="modalJoinForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="userId">Your ID</label>
                            <br/><br/>
                            <input type="text" id="userId_join" name="userId" class="form-control validate" style="color:cornflowerblue; margin:0;" required/>
                            <input type="hidden" id="tempId"/>
                            <span id="validLabel" style="font-size: small;"></span>
                        </div>

                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="passWd">Your password</label>
                            <br/><br/>
                            <input type="password" id="passWd_join" name="passWd" class="form-control validate" style="color:cornflowerblue;" required/>
                        </div>
                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="passWd">Your email</label>
                            <br/><br/>
                            <input type="email" id="email" name="email" class="form-control validate" style="color:cornflowerblue;" required/>
                        </div>
                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="passWd">Your github ID </label>
                            <br/><br/>
                            <input type="text" id="gitId" name="gitId" class="form-control validate" style="color:cornflowerblue;"/>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-left:20px;" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Home</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" href="/">Home</a>
                    <a class="dropdown-item" href="/board/list">게시판</a>
                </div>
            </li>
        </ul>
    </nav>

<!--Navbar-->
</header>
<script>

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);


        $('#joinForm [id="userId_join"]').change(function(){

            //TODO 동일 ID시 ajax 재호출 방지
            var tempId = $("#tempId").val($("#userId_join").val());

            if($("#userId_join").val() != "" && tempId != $("#userId_join").val() ) {
                idCheck($("#userId_join").val());
            }
        });

    })();

    function idCheck(value){
        $.ajax({
            url : "/user/valid/"+value,
            type : "get",
            success : function(data){
                if("exist" == data) {
                    $("#validLabel").text("Oops! already exists");
                    $("#validLabel").css("color","red");
                } else if ( "ok" == data){
                    $("#validLabel").text("OK!");
                    $("#validLabel").css("color","#28a745");

                }
            }
        });
    }

</script>
</html>