<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ > /include/header }}

<div >
    <!-- Jumbotron -->
    <div class="jumbotron text-center blue-grey lighten-5" style="margin-bottom:30%">

        <!-- Title -->
        <h2 class="card-title h2">W.A.Q.A</h2>

        <!-- Subtitle -->
        <p class="indigo-text my-4 font-weight-bold">Web Application Q & A Community</p>

        <!-- Grid row -->
        <div class="row d-flex justify-content-center">

            <!-- Grid column -->
            <div class="col-xl-7 pb-2">

                <p class="card-text">It's time to learn Web Application Development and Share your skills and.. insight !! </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-4 pb-2">


    </div>
    <!-- Jumbotron -->

</div>

{{ > /include/footer }}
</body>
</html>